<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <div class="col-lg-1 pt-1 pb-1 clearfix-xs">
                <div style="padding: 0px;" href="/" class="navbar-brand p-2">
                   <a href="/" ><img style="margin-right: 1em;width:10%;height: auto;position: relative;float: left;" src="images\svnit logo.png" alt="" height="13%" width="13%"></a>
                  <div class="title">Sardar
                    Vallabhbhai National
                    Institute of Technology</div>   
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"> 
                    <span class="navbar-toggler-icon"></span>
                </button>
                </div>
                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"> 
                    <span class="navbar-toggler-icon"></span>
                </button> -->
                </div>
            <div class="col-lg-7">
            </div>
            <div class="collapse navbar-collapse col-lg-4 last" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            People
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item dropdown-top" href="/faculty">Faculty</a></li>
                            <li><a class="dropdown-item" href="/staff">Staff</a></li>
                            <li><a class="dropdown-item" href="/students">M.Tech Students</a></li>
                            <li><a class="dropdown-item" href="/phd">Ph.D Students</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/research">Research</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
