<%- include('partials/head')%>
    <%- include('partials/navbar')%>
        
        <div class="abt">
            <section>
                <div class = "image">
                    <!-- image here -->
                    <p></p>
                </div>
    
                <div class = "content">
                    <h2 style="color: black;">About Us</h2>
                    <span><!-- line here --></span>
    
          
                    <p style="color: black;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis aspernatur voluptas inventore ab voluptates nostrum minus illo laborum harum laudantium earum ut, temporibus fugiat sequi explicabo facilis unde quos corporis!</p>
                   
                    <div class="wrapper">
      
                        <img src="images/arnav.png" class="image--cover">
                        
                        <img src="images/anubhav.png" alt="" class="image--cover" />
                        
                        <img src="images/profile_pic.png" alt="" class="image--cover" />
                      </div>
                      <div class="share-button">
                        <span style="font-size: 2rem;font-family: 'Poppins', sans-serif;"><i class="fas fa-share-alt"></i>  Contact</span>
                        <a href=""><i class="fab fa-facebook"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-github"></i></a>
                    </div>  
    
                </div>
            </section>
        </div>
        
    </body>
</html>