<%- include('partials/head')%>
    <%- include('partials/navbar')%>
        <div class="team-boxed">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">FACULTY NAME </h2>
                    <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum
                        nibh erat, pellentesque ut laoreet vitae.</p>
                </div>
                <div class="row people">
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="images/upenaDala.png">
                            <h3 class="name">Dr. Upena. D .Dalal</h3>
                            <p class="title">Phd. Professor</p>
                            <p class="description"><b>Area of Research</b> : RF & Microwave Engineering
                                Image Processing</p>
                            <p class="description"><b>Teaching </b>:
                                Digital communication
                                Adhoc Networks
                                Wideband communication
                                Mobile computing

                            </p>
                            <div class="social"><a href="https://www.svnit.ac.in/facup/resume_udd.pdf"><i
                                        class="fa fa-info"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="images/AHL.png">
                            <h3 class="name">Prof. A. H. Lalluwadia</h3>
                            <p class="title">M. Tech.
                                Associate Professor</p>
                            <p class="description"> <b>Teaching</b>:
                                Telematics
                                RF & Microwave Engineering </p>
                            <p class="description"> <b>Area of Research</b>:
                                RF & Microwave Engineering
                                Image Processing</p>
                            <div class="social"><a href="https://www.svnit.ac.in/facup/"><i class="fa fa-info"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="images/kar.png">
                            <h3 class="name">Prof. Naresh B. Kanirkar</h3>
                            <p class="title"> M.Tech.
                                Associate Professor</p>
                            <p class="description"> <b> Teaching:</b>
                                Basic of Electronics Engineering
                                Electronic Devices & Circuits
                                Solid State Devices</p>
                            <p class="description"> <b>Area of Research:</b>
                                CDMA
                                Mobile Communication</p>
                            <!-- <div class="social"><a href="#"><i class="fa fa-info" aria-hidden="true" ></i></a></div> -->
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h3 class="name">Dr. Prashant K. Shah</h3>
                            <p class="title">M.E. Associate Professor</p>
                            <p class="description"> <b> Teaching:</b>
                                Basics of Electronics Engineering
                                Digital Circuits
                                Microprocessor
                                Digital Signal Processing
                            </p>
                            <p class="description"> <b>Area of Research:</b>
                                LMI Based Improved Stability Criteria (DSP based)</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h3 class="name">Dr. Jignesh N. Sarvaiya</h3>
                            <p class="title">Ph. D. Associate Professor</p>
                            <p class="description"> <b> Teaching:</b>
                                Electronic System Design
                                Digital Image Processing
                                Information Theory & Coding
                                Analog Integrated Circuits

                            </p>
                            <p class="description"> <b>Area of Research:</b>
                                Image Processing
                                Medical Instrumentation</p>
                            <div class="social"><a href="https://www.svnit.ac.in/facup/8171jns.pdf"><i
                                        class="fa fa-info"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h3 class="name">Dr. (Mrs.) Rasika N. Dhavse</h3>
                            <p class="title">Ph. D. Associate Professor</p>
                            <p class="description"> <b> Teaching:</b>
                                VLSI Design
                                VLSI Technology
                                Electronic Circuits
                            </p>
                            <p class="description"> <b>Area of Research:</b>
                                VLSI Design
                            </p>
                            <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h3 class="name">Dr. Anand D. Darji</h3>
                            <p class="title">B.E (Electronics) M.Tech (Electronics Systems), IIT Bombay Ph.D.
                                (Microelectronics), IIT Bombay
                                Associate Professort</p>
                            <p class="description"> <b> Teaching:</b>
                                VLSI Design
                                Electronics Instrumentation
                                Digital Integrated Circuits
                                Digital VLSI Design (PG)
                                VLSI System Design ( PG-Elective)
                            </p>
                            <p class="description"> <b>Area of Research:</b>
                                VLSI Design
                                FPGA-based systems design
                                Device modelling
                                VLSI DSP architecture
                                Embedded System Design
                                Electronics Instrumentation
                                Signal Processing
                                Bio-medical Signal/image processing
                            </p>
                            <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h3 class="name">Emily Clark</h3>
                            <p class="title">Artist</p>
                            <p class="description"> </p>
                            <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h3 class="name">Emily Clark</h3>
                            <p class="title">Artist</p>
                            <p class="description"> </p>
                            <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h3 class="name">Emily Clark</h3>
                            <p class="title">Artist</p>
                            <p class="description"> </p>
                            <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h3 class="name">Emily Clark</h3>
                            <p class="title">Artist</p>
                            <p class="description"> </p>
                            <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h3 class="name">Emily Clark</h3>
                            <p class="title">Artist</p>
                            <p class="description"> </p>
                            <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h3 class="name">Emily Clark</h3>
                            <p class="title">Artist</p>
                            <p class="description"> </p>
                            <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h3 class="name">Emily Clark</h3>
                            <p class="title">Artist</p>
                            <p class="description"> </p>
                            <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h3 class="name">Emily Clark</h3>
                            <p class="title">Artist</p>
                            <p class="description"> </p>
                            <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h3 class="name">Emily Clark</h3>
                            <p class="title">Artist</p>
                            <p class="description"> </p>
                            <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h3 class="name">Emily Clark</h3>
                            <p class="title">Artist</p>
                            <p class="description"> </p>
                            <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h3 class="name">Emily Clark</h3>
                            <p class="title">Artist</p>
                            <p class="description"> </p>
                            <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h3 class="name">Emily Clark</h3>
                            <p class="title">Artist</p>
                            <p class="description"> </p>
                            <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h3 class="name">Emily Clark</h3>
                            <p class="title">Artist</p>
                            <p class="description"> </p>
                            <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h3 class="name">Emily Clark</h3>
                            <p class="title">Artist</p>
                            <p class="description"> </p>
                            <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h3 class="name">Emily Clark</h3>
                            <p class="title">Artist</p>
                            <p class="description"> </p>
                            <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <%- include('partials/footer')%>