<%- include('partials/head')%>
<%- include('partials/navbar')%>
<div class="team-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">FACULTY NAME </h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="images/upenaDala.png">
                    <h3 class="name">Dr. Upena. D .Dalal</h3>
                    <p class="title">Phd. Professor</p>
                    <p class="description"><b>Area of Research</b> :  RF & Microwave Engineering
                        Image Processing</p>
                     <p class="description"><b>Teaching </b>:
                        Digital communication
                        Adhoc Networks
                        Wideband communication
                        Mobile computing

                    </p>
                    <div class="social"><a href="https://www.svnit.ac.in/facup/resume_udd.pdf"><i class="fa fa-info"></i></a></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="images/AHL.png">
                    <h3 class="name">Prof. A. H. Lalluwadia</h3>
                    <p class="title">M. Tech.
                        Associate Professor</p>
                    <p class="description">Teaching:
                        Telematics
                        RF & Microwave Engineering </p>
                    <p class="description"> Area of Research:
                        RF & Microwave Engineering
                        Image Processing</p>
                    <div class="social"><a href="https://www.svnit.ac.in/facup/"><i class="fa fa-info"></i></a></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="images/kar.png">
                    <h3 class="name">Prof. Naresh B. Kanirkar</h3>
                    <p class="title">M.Tech.
                        Associate Professor</p>
                    <p class="description">Teaching:
                        Basic of Electronics Engineering
                        Electronic Devices & Circuits
                        Solid State Devices</p>
                    <p class="description">Area of Research:
                        CDMA
                        Mobile Communication</p>
                    <!-- <div class="social"><a href="#"><i class="fa fa-info" aria-hidden="true" ></i></a></div> -->
                </div>
            </div>            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name">Emily Clark</h3>
                    <p class="title">Artist</p>
                    <p class="description"> </p>
                    <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                </div>
            </div>            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name">Emily Clark</h3>
                    <p class="title">Artist</p>
                    <p class="description"> </p>
                    <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                </div>
            </div>            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name">Emily Clark</h3>
                    <p class="title">Artist</p>
                    <p class="description"> </p>
                    <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                </div>
            </div>            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name">Emily Clark</h3>
                    <p class="title">Artist</p>
                    <p class="description"> </p>
                    <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                </div>
            </div>            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name">Emily Clark</h3>
                    <p class="title">Artist</p>
                    <p class="description"> </p>
                    <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                </div>
            </div>            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name">Emily Clark</h3>
                    <p class="title">Artist</p>
                    <p class="description"> </p>
                    <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                </div>
            </div>            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name">Emily Clark</h3>
                    <p class="title">Artist</p>
                    <p class="description"> </p>
                    <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                </div>
            </div>            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name">Emily Clark</h3>
                    <p class="title">Artist</p>
                    <p class="description"> </p>
                    <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                </div>
            </div>            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name">Emily Clark</h3>
                    <p class="title">Artist</p>
                    <p class="description"> </p>
                    <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                </div>
            </div>            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name">Emily Clark</h3>
                    <p class="title">Artist</p>
                    <p class="description"> </p>
                    <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                </div>
            </div>            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name">Emily Clark</h3>
                    <p class="title">Artist</p>
                    <p class="description"> </p>
                    <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                </div>
            </div>            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name">Emily Clark</h3>
                    <p class="title">Artist</p>
                    <p class="description"> </p>
                    <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                </div>
            </div>            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name">Emily Clark</h3>
                    <p class="title">Artist</p>
                    <p class="description"> </p>
                    <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                </div>
            </div>            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name">Emily Clark</h3>
                    <p class="title">Artist</p>
                    <p class="description"> </p>
                    <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                </div>
            </div>            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name">Emily Clark</h3>
                    <p class="title">Artist</p>
                    <p class="description"> </p>
                    <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                </div>
            </div>            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name">Emily Clark</h3>
                    <p class="title">Artist</p>
                    <p class="description"> </p>
                    <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                </div>
            </div>            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name">Emily Clark</h3>
                    <p class="title">Artist</p>
                    <p class="description"> </p>
                    <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                </div>
            </div>            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name">Emily Clark</h3>
                    <p class="title">Artist</p>
                    <p class="description"> </p>
                    <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                </div>
            </div>            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name">Emily Clark</h3>
                    <p class="title">Artist</p>
                    <p class="description"> </p>
                    <div class="social"><a href="#"><i class="fa fa-info"></i></a></div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<%- include('partials/footer')%>