<%- include('partials/head')%>
    <%- include('partials/navbar')%>
        <div class="team-boxed">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center" style="margin-bottom: 0;">OFFICE STAFF </h2>
                </div>
                <div class="container">
                    <div class="row people">
                        <div class="col-lg-1"></div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="images/Manoj.jpg">
                                <h3 class="name">Mr. Manoj Reshamwala</h3>
                                <p class="title">Head Clerk</p>
                                <p class="description" style="margin-bottom: 0;"><i class="far fa-envelope"></i>
                                    s_mmr@ymail.com</p>
                                <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i
                                        class="fas fa-phone"></i> 0261-220-1552</p>
                                <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Daily Wager)
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="images/Brijesh.jpg">
                                <h3 class="name">Mr. Brijesh Rana</h3>
                                <p class="title">Clerk</p>
                                <p class="description" style="margin-bottom: 0;"><i class="far fa-envelope"></i>
                                    ranabrijesh44@gmail.com</p>
                                <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i
                                        class="fas fa-phone"></i> 0261-220-1552</p>
                                <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Contract Staff)
                                </p>
                            </div>
                        </div>
                        <div style="margin-bottom: 3em;">
                            <div class="intro">
                                <h2 class="text-center" style="margin-bottom: 0;">LABORATORY STAFF</h2>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="images/1.jpg">
                                <h3 class="name">Mr. Praful Patel</h3>
                                <p class="title">Lab Assistant</p>
                                <p class="description" style="margin-bottom: 0;"><i class="far fa-envelope"></i>
                                    praful.patel.pp88@gmail.com</p>
                                <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i
                                        class="fas fa-phone"></i> 9574003375</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="images/2.jpg">
                                <h3 class="name">Mrs. Shweta Pathak</h3>
                                <p class="title">Lab Assistant</p>
                                <p class="description" style="margin-bottom: 0;"><i class="far fa-envelope"></i>
                                    shwetap1412@gmail.com</p>
                                <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i
                                        class="fas fa-phone"></i> 9924999119</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="images/3.jpg">
                                <h3 class="name">Mr. Kapil Umarigar</h3>
                                <p class="title">Lab Assistant</p>
                                <p class="description" style="margin-bottom: 0;"><i class="far fa-envelope"></i>
                                    kapilumrigar@gmail.com</p>
                                <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i
                                        class="fas fa-phone"></i> 8160212297</p>
                                <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Daily Wager)
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="images/4.jpg">
                                <h3 class="name">Mrs. Yesha Surati</h3>
                                <p class="title">Lab Assistant</p>
                                <p class="description" style="margin-bottom: 0;"><i class="far fa-envelope"></i>
                                    ypatel.ec@gmail.com</p>
                                <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i
                                        class="fas fa-phone"></i> 8141335379</p>
                                <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Contract Staff)
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="images/5.jpg">
                                <h3 class="name">Mrs. Karishma Patel</h3>
                                <p class="title">Lab Assistant</p>
                                <p class="description" style="margin-bottom: 0;"><i class="far fa-envelope"></i>
                                    karishma.patel119@gmail.com</p>
                                <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i
                                        class="fas fa-phone"></i> 8511522656</p>
                                <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Contract Staff)
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="images/6.jpg">
                                <h3 class="name">Mr. Ghanshyam Katva</h3>
                                <p class="title">System Admin</p>
                                <p class="description" style="margin-bottom: 0;"><i class="far fa-envelope"></i>
                                    gbkatva@gmail.com</p>
                                <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i
                                        class="fas fa-phone"></i> 8866304771</p>
                                <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Contract Staff)
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="images/7.jpg">
                                <h3 class="name">Mr. Vishal Patel</h3>
                                <p class="title">Lab Assistant</p>
                                <p class="description" style="margin-bottom: 0;"><i class="far fa-envelope"></i>
                                    vishalpatel1504@gmail.com</p>
                                <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i
                                        class="fas fa-phone"></i> 9099886500</p>
                                <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Contract Staff)
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                        </div>
                        <div style="margin-bottom: 3em;">
                            <div class="intro">
                                <h2 class="text-center" style="margin-bottom: 0;">SUPPORTIVE STAFF</h2>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="images/01.jpg">
                                <h3 class="name">Mr. Ashok Kothari</h3>
                                <p class="title">Peon</p>
                                <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i
                                        class="fas fa-phone"></i> 9687300221</p>
                                <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Peon)
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="images/02.jpg">
                                <h3 class="name">Mr. Champak Patel</h3>
                                <p class="title">Peon</p>
                                <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i
                                        class="fas fa-phone"></i> 8153945999</p>
                                <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Daily Wager)
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="images/03.jpg">
                                <h3 class="name">Mr. Rajesh Arthania</h3>
                                <p class="title">Peon</p>
                                <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i
                                        class="fas fa-phone"></i> 9426230023</p>
                                <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Daily Wager)
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box"><img class="rounded-circle" src="images/04.jpg">
                                <h3 class="name">Mr. Vijay Rathod</h3>
                                <p class="title">Peon</p>
                                <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Contract Staff)
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer')%>