body {
    overflow-x: hidden;
    background-color: #e4d3cf;
}

tr {
    border: 20px;
}

.dropdown-item {
    margin-top: 0.5em;
}

dropdown-top {
    margin-top: 0;
}

.bg-dark {
    background-color: #000000!important;
}

.nav-item {
    font-size: 1.3em;
    padding: 2px;
}

.tag {
    font-size: 1.4em;
    color: white;
    margin-bottom: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255);
}

.top {
    margin: auto;
}

h1 {
    font-size: 25px;
    padding: 15px;
}

.last {
    margin-left: 5%;
}

.navbar {
    padding: 0;
}

.slider {
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 1000px;
    height: 500px;
}


/*css for manual slide navigation*/

.navigation-manual {
    position: absolute;
    width: 1000px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #ffffff;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}


/*css for automatic navigation*/

.navigation-auto {
    position: absolute;
    display: flex;
    width: 1000px;
    justify-content: center;
    margin-top: 460px;
}

.moving {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-auto div {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding-top: 2em;
    margin-bottom: 1em;
}

.list2 {
    padding-top: 20px;
    padding-bottom: 0;
}

.completed {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5em;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: #ffffff;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: #ffffff;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: #ffffff;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: #ffffff;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {}
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

.team-boxed {
    color: #313437;
    background-color: #d3e0ea;
}

p {
    color: #7d8285;
}

h2 {
    font-weight: bold;
    margin-bottom: 0.8em;
    padding-top: 40px;
    color: inherit;
}

@media (max-width:767px) {
    .team-boxed h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.intro {
    font-size: 16px;
    max-width: 550px;
    margin: auto;
}

.intro p {
    margin-bottom: 0;
}

.people {
    padding: 50px 0;
}

.svg {
    height: 110%;
    width: 110%;
}

.svg2 {
    height: 100%;
    width: 100%;
}

.svg-img {
    margin-top: 3em;
}

.items .box {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 30px;
}

.items .name {
    font-weight: bold;
    margin-top: 28px;
    margin-bottom: 8px;
    color: inherit;
}

.items .title {
    text-transform: uppercase;
    font-weight: bold;
    color: #d0d0d0;
    letter-spacing: 2px;
    font-size: 13px;
}

.items .description {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.items img {
    max-width: 160px;
}

.social {
    font-size: 18px;
    color: #a2a8ae;
}

.social a {
    color: inherit;
    margin: 0 10px;
    display: inline-block;
    opacity: 0.7;
}

.social a:hover {
    opacity: 1;
}

div {
    box-sizing: border-box;
    transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
}

.icetab {
    border: 2px solid #343a40;
    display: inline-block;
    border-bottom: 0px;
    margin: 0px;
    color: #fff;
    cursor: pointer;
    border-right: 0px;
    background-color: #bdbdbd;
}

.icetab:last-child {
    border-right: 2px solid #343a40;
}

#icetab-content {
    overflow: hidden;
    position: relative;
    border-top: 2px solid #343a40;
}

.tabcontent {
    position: absolute;
    left: 0px;
    top: 0px;
    background: #fff;
    width: 100%;
    border-top: 0px;
    border: 2px solid #fff;
    border-top: 0px;
    transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}

.tabcontent:first-child {
    position: relative;
}

.tabcontent.tab-active {
    border-top: 0px;
    display: block;
    transform: translateY(0%);
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
}


/* A tiny wee bit of visual formating */

body {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    background: #d3e0ea;
    color: #454545;
}

.codepen-container {
    max-width: 100%;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
}

.tabcontent {
    padding: 40px;
}

.icetab {
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.current-tab {
    background: #343a40;
}

.nav-item {
    font-size: 1.3em;
    padding-left: 2px;
    padding-right: 2px;
}

body {
    overflow-x: hidden;
    background-color: #d3e0ea;
}

.bg-dark {
    background-color: #000000!important;
}

.navbar-toggler {
    color: black;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255);
}

.last {
    margin-left: 5%;
}

.navbar {
    padding: 0;
}


/* css for text animation */

h1 {
    color: transparent;
    position: relative;
    /* color: darkblue; */
    display: inline-block;
    animation: text_reveal 1s ease forwards;
    animation-delay: 1.5s;
    /* top: 20%; */
    text-align: center;
    font-size: 25px;
    padding: 15px;
}

h1 span {
    position: absolute;
    left: 0;
    top: 20%;
    height: 70%;
    width: 0%;
    background-color: black;
    animation: overlay 2s ease forwards;
    animation-delay: 0.5s;
}

.hbar {
    border-radius: 25px;
}

@keyframes overlay {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: black;
    }
}

.belnav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* css for mission vision blocks */

.MisVision {
    background-color: #d3e0ea;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.mission,
.vision {
    border-bottom: 1px solid #e1f1ff;
}

.missionHeader,
.visionHeader {
    color: black;
    font-weight: 600;
    letter-spacing: 3px;
}

.missionList,
.visionList {
    margin: 50px 0 25px;
    color: #03506f;
}

.missionText,
.visionText {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 0.9em;
    line-height: 2.2;
    padding: 15px 0;
    border-top: 1.5px solid black;
}

.missionText,
.visionText {
    border-bottom: 1.5px solid black;
}

@media (min-width: 900px) {
    .MisVision {
        flex-direction: row;
    }
    .mission,
    .vision {
        border-bottom: none;
        /* border-right: 1.5px solid black; */
        padding: 25px 50px;
    }
    .vision {
        border-right: none;
    }
}

@media (min-height: 500px) {
    .navbar {}
}

ul.missionList,
ul.visionList {
    list-style-type: none;
}


/* css for codepen image slider */

.slider,
.slider>div {
    /* Images default to Center Center. Maybe try 'center top'? */
    background-position: center center;
    display: block;
    width: 100%;
    height: 500px;
    /* height: 100vh; */
    /* If you want fullscreen */
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    overflow: hidden;
    -moz-transition: transform .4s;
    -o-transition: transform .4s;
    -webkit-transition: transform .4s;
    transition: transform .4s;
}

.slider>div {
    position: absolute;
}

.slider>i {
    color: #5bbd72;
    position: absolute;
    font-size: 60px;
    margin: 20px;
    top: 40%;
    text-shadow: 0 10px 2px #223422;
    transition: .3s;
    width: 30px;
    padding: 10px 13px;
    background: #fff;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    line-height: 0;
    box-sizing: content-box;
    border-radius: 3px;
    z-index: 4;
}

.slider>i svg {
    margin-top: 3px;
}

.slider>.left {
    left: -100px;
}

.slider>.right {
    right: -100px;
}

.slider:hover>.left {
    left: 0;
}

.slider:hover>.right {
    right: 0;
}

.slider>i:hover {
    background: #fff;
    background: rgba(255, 255, 255, .8);
    transform: translateX(-2px);
}

.slider>i.right:hover {
    transform: translateX(2px);
}

.slider>i.right:active,
.slider>i.left:active {
    transform: translateY(1px);
}

.slider:hover>div {
    transform: scale(1.01);
}

.hoverZoomOff:hover>div {
    transform: scale(1);
}

.slider>ul {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 4;
    padding: 0;
    margin: 0;
    transform: translateX(-50%);
}

.slider>ul>li {
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    list-style: none;
    float: left;
    margin: 10px 10px 0;
    cursor: pointer;
    border: 1px solid #fff;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider>ul>.showli {
    background-color: #7EC03D;
    -moz-animation: boing .5s forwards;
    -o-animation: boing .5s forwards;
    -webkit-animation: boing .5s forwards;
    animation: boing .5s forwards;
}

.slider>ul>li:hover {
    background-color: #7EC03D;
}

.slider>.show {
    z-index: 1;
}

.hideDots>ul {
    display: none;
}

.showArrows>.left {
    left: 0;
}

.showArrows>.right {
    right: 0;
}

.slider>div span {
    display: block;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center;
    padding: 0;
    width: 100%;
}

@keyframes boing {
    0% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(.6);
    }
    60% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}


/* }
*, *:before, *:after {
    box-sizing: inherit;
} */

h1,
h2,
h3 {
    font-family: 'Crimson Text', sans-serif;
    font-weight: 100;
}

body {
    /* font: 15px 'Titillium Web', Arial, sans-serif; */
    /* background: radial-gradient(#121212, #000); */
    height: 100%;
    color: #aaa;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.item {
    width: 4.6em;
    margin: 50px auto;
    max-height: 1.7em;
    padding: 0;
    background: #ccc;
    text-align: center;
    color: #fff;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.item span {
    display: block;
    font-size: 1.2rem;
}

.item--primary {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
    background: #719fb0;
}

.item--primary2 {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
    background: #726a95;
}

.item--primary3 {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
    background: #351f39;
}

.fade-in {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}